.submenu{
    display: none;
}
.nav-item{
    margin: -8px 61px -13px 0px;
}
.nav-item span {
    font-size: 30px;
}
.navbar-nav:last-child{
    padding-left: 50px;
}


.nav-item a{
    color: black;
}
.dropdown-menu{
    background: rgb(10,235,81);
    background: linear-gradient(165deg, rgba(10,235,81,1) 0%, rgba(233,237,234,1) 100%, rgba(0,212,255,1) 100%);
}