.submenu{
    display: none;
}
.nav-item{
    margin: -6px 37px -14px -2px;;
}
.nav-item span {
    font-size: 30px;
    transition: all 0.2s ease-in-out;

}


.navbar-nav:last-child{
    padding-left: 20px;
}


.nav-item a{
    color: black;
}
.dropdown-menu{
    background: rgb(10,235,81);
    background: linear-gradient(165deg, rgba(10,235,81,1) 0%, rgba(233,237,234,1) 100%, rgba(0,212,255,1) 100%);
}
.navContainer{
    z-index: 9999;
}
.profileLogo{
    padding:2px;
}
.loginBtn{
    margin-top: 18px !important;
}
.navBar{
    background-color: transparent;
   
}
.active{
    background-color: #DE0959;
    transition: all 0.4s ease-in-out;
}