.CarouselAsideBer{
    margin-right: 1rem;
}
.CarouselAsideBer2{
    margin-left: 1rem;
}

.CarouselAsideBer, .CarouselAsideBer2{
    border-radius: 10px;
    box-shadow: 5px 5px 40px #a6e6ff;
    color: rgb(46, 45, 45);
    padding: 5px;
    justify-content: center;
    height: 350px;
    margin: auto 18px;
    align-items: center;
}
.CarouselAsideBer ul li, .CarouselAsideBer2 ul li{
    font-weight: bold;
}
.carousel-inner {
    border-radius: 10px;
}
.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #ff9109;
    
}