

  .mainContainer, .underMainContainer , .centerMainContainer{
    height: 510px;
    width: 15%;
    margin: 150px auto;
    position: relative;
    perspective: 1000px;
  }
  .mainContainer .slides, .underMainContainer .slides, .centerMainContainer .slides {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
  
  }
  .underMainContainer .slides{
    width: 95% !important;
  }
  .mainContainer .slides{
    animation: animate  25s linear infinite;
  }
  .centerMainContainer .slides{
    animation: animate2  25s linear infinite;
  }
  .underMainContainer .slides {
    animation: animate3  25s linear infinite;
  }
  .mainContainer{
    margin-top: 20rem;
  }
  .underMainContainer{
    margin-top: -60px;
  }
  @keyframes animate{
    from {
      transform: rotateY(360deg);
    }
    to{
      transform: rotateY(0deg);
    }
  }
  @keyframes animate2{
    from {
      transform: rotateY(0deg);
    }
    to{
      transform: rotateY(360deg);
    }
  }
  @keyframes animate3 {
    from {
      transform: rotateY(360deg);
    }
    to{
      transform: rotateY(0deg);
    }
  }

  .mainContainer .slides>img, .centerMainContainer .slides>img{
    width: 100%;
    height: auto;
    object-fit: cover;
    image-rendering: auto;
    position: absolute;
    transition: all 0.5s ease-in-out;
    /* -webkit-box-reflect:below 7px linear-gradient(transparent,  transparent, #0006); */
    border: 1px solid rgba(199, 35, 35, 0.993);
    padding-top: 3rem;
    box-shadow: 5px 5px 20px red;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-bottom: 3rem;

  }


  .underMainContainer .slides>img{
    width: 100%;
    height: auto;
    object-fit: cover;
    image-rendering: auto;
    position: absolute;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 15px red;
    border-right: none;
    border-radius: 10px;
    padding-bottom: 3rem;

  }
  .mainContainer .slides>img:nth-child(1),.centerMainContainer .slides>img:nth-child(1){
    transform: rotateY(30deg) translateZ(600px);
  }
  .mainContainer .slides>img:nth-child(2),.centerMainContainer .slides>img:nth-child(2){
    transform: rotateY(60deg) translateZ(600px);
  }
  .mainContainer .slides>img:nth-child(3),.centerMainContainer .slides>img:nth-child(3){
    transform: rotateY(90deg) translateZ(600px);
  }
  .mainContainer .slides>img:nth-child(4),.centerMainContainer .slides>img:nth-child(4){
    transform: rotateY(120deg) translateZ(600px);
  }
  .mainContainer .slides>img:nth-child(5), .centerMainContainer .slides>img:nth-child(5){
    transform: rotateY(150deg) translateZ(600px);
  }
  .mainContainer .slides>img:nth-child(6),.centerMainContainer .slides>img:nth-child(6){
    transform: rotateY(180deg) translateZ(600px);
  }
  .mainContainer .slides>img:nth-child(7),.centerMainContainer .slides>img:nth-child(7){
    transform: rotateY(210deg) translateZ(600px);
  }
  .mainContainer .slides>img:nth-child(8),.centerMainContainer .slides>img:nth-child(8){
    transform: rotateY(240deg) translateZ(600px);
  }
  .mainContainer .slides>img:nth-child(9),.centerMainContainer .slides>img:nth-child(9){
    transform: rotateY(270deg) translateZ(600px);
  }
  .mainContainer .slides>img:nth-child(10),.centerMainContainer .slides>img:nth-child(10){
    transform: rotateY(300deg) translateZ(600px);
  }
  .mainContainer .slides>img:nth-child(11),.centerMainContainer .slides>img:nth-child(11){
    transform: rotateY(330deg) translateZ(600px);
  }
  .mainContainer .slides>img:nth-child(12),.centerMainContainer .slides>img:nth-child(12){
    transform: rotateY(360deg) translateZ(600px);
  }
 
 
  .underMainContainer .slides>img:nth-child(1){
    transform: rotateY(30deg) translateZ(510px);
  }
  .underMainContainer .slides>img:nth-child(2){
    transform: rotateY(60deg) translateZ(510px);
  }
  .underMainContainer .slides>img:nth-child(3){
    transform: rotateY(90deg) translateZ(510px);
  }
  .underMainContainer .slides>img:nth-child(4){
    transform: rotateY(120deg) translateZ(510px);
  }
  .underMainContainer  .slides>img:nth-child(5){
    transform: rotateY(150deg) translateZ(510px);
  }
  .underMainContainer .slides>img:nth-child(6){
    transform: rotateY(180deg) translateZ(510px);
  }
  .underMainContainer .slides>img:nth-child(7){
    transform: rotateY(210deg) translateZ(510px);
  }
  .underMainContainer .slides>img:nth-child(8){
    transform: rotateY(240deg) translateZ(510px);
  }
  .underMainContainer .slides>img:nth-child(9){
    transform: rotateY(270deg) translateZ(510px);
  }
  .underMainContainer .slides>img:nth-child(10){
    transform: rotateY(300deg) translateZ(510px);
  }
  .underMainContainer .slides>img:nth-child(11){
    transform: rotateY(330deg) translateZ(510px);
  }
  .underMainContainer .slides>img:nth-child(12){
    transform: rotateY(360deg) translateZ(510px);
  }
 
 
  
 .mainContainer:hover .slides, .centerMainContainer:hover .slides, .underMainContainer:hover .slides {
   animation-play-state: paused;

 }

 .slides>img:hover{
   transition: all .2s ease-in-out;
   cursor: pointer;
   -webkit-box-reflect: below 20px linear-gradient(0deg, rgb(85, 30, 30));
 }
@media only screen and (max-width:600px){
  .mainContainer,.underMainContainer,.centerMainContainer{
    display: none;
  }
}