

  .mainContainer{
    height: 300px;
    width: 15%;
    margin: 200px auto;
    position: relative;
    perspective: 1000px;
  }
  .mainContainer .slides {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    animation: animate  25s linear infinite;
  }
  @keyframes animate {
    from {
      transform: rotateY(0deg);
    }
    to{
      transform: rotateY(360deg);
    }
  }
  .mainContainer .slides>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: auto;
    position: absolute;
    transition: all 0.5s ease-in-out;
    -webkit-box-reflect:below 7px linear-gradient(transparent,  transparent, #0006)

  }
  .slides>img:nth-child(1){
    transform: rotateY(36deg) translateZ(500px);
  }
  .slides>img:nth-child(2){
    transform: rotateY(72deg) translateZ(500px);
  }
  .slides>img:nth-child(3){
    transform: rotateY(108deg) translateZ(500px);
  }
  .slides>img:nth-child(4){
    transform: rotateY(144deg) translateZ(500px);
  }
  .slides>img:nth-child(5){
    transform: rotateY(180deg) translateZ(500px);
  }
  .slides>img:nth-child(6){
    transform: rotateY(216deg) translateZ(500px);
  }
  .slides>img:nth-child(7){
    transform: rotateY(252deg) translateZ(500px);
  }
  .slides>img:nth-child(8){
    transform: rotateY(288deg) translateZ(500px);
  }
  .slides>img:nth-child(9){
    transform: rotateY(324deg) translateZ(500px);
  }
  .slides>img:nth-child(10){
    transform: rotateY(360deg) translateZ(500px);
  }
  
 .mainContainer:hover .slides {
   animation-play-state: paused;

 }

 .slides>img:hover{
   transition: all .2s ease-in-out;
   cursor: pointer;
   -webkit-box-reflect: below 20px linear-gradient(0deg, rgb(85, 30, 30));
 }
