.userInfoCard, .AddNotificationCard{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}
.userCard{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(66, 74, 88);
    background-color: #003;
    margin: 10px;
    border-radius: 7px;
}
.notificationWrap{
    max-width: 500px;
    height: 200px;
    margin: 0 auto;
    background-color: #002;
    border: 1px solid rgb(66, 74, 88);
    margin: 10px;
    border-radius: 7px;
    padding: 10px;
    

    
}

.notificationWrap:hover .notificationDeleteBtn button  {
    display: block;
    position: absolute;
}
.notificationDeleteBtn button {
    display: none;
    transition: all 0.2s ease-in-out;
}
.notificationContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
li{
    color: white;

}
a{
    text-decoration: none;
}
.userCard img{
    margin: 5px;
}
.userCard h6 , p{
    margin-left: 10px;
}
.userCard{
    line-height: 12px;
}
.userCard button{
    margin-top: 10px;
    margin-right: 10px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.userCard:hover button{
    opacity: 1;
}
.UserSearch{
    width: 20%;
    margin-left: 51px;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    color: aliceblue;
}
.UserSearch:focus{
    width: 50%;
    color: white;
    padding: 0px 10px;
}

::-webkit-input-placeholder {
    color: oldlace;
    opacity: 0.6;
  }
.AddNotificationCard{
    padding: 15px;
    justify-content: center;
}
  .AddNotificationCard input{
        border-radius: 5px;
        width: 30rem !important;
        background-color:transparent;
        border: 1px solid rgb(66, 74, 88); 
        color: white;
        
  }
  .AddNotificationCard .button{
      color: white;
      border-radius: 5px;
      background-color: orangered;
  }