.adminImg{
    position: relative;
    transition: all 0.4s ease-in-out;

}
.adminContainer{
    display: flex;

}
.profileContainer{
    overflow: hidden;
}
.profileContainer .adminImg {
    width: 16rem !important;
    height: 20rem !important;
}
 .profileContainer:hover .adminImg{
    
    transform: scale(1.1) !important;
}
.mediaBtn a h2{
    color: darkslateblue;
}
.mediaBtn button{
    margin-left: -20px !important;
    padding: 0px!important;
    margin: 5px;
}
.mediaBtn button a h2:hover{
    color: rgb(33, 207, 62);
}
.details{
    position: absolute;
    top: 160px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: 40%;
    height: 27%;
    transform: scaleY(0);
    transition: transform 0.2s;
    border-radius: 5px;
}
.profileContainer:hover .details{
    transform: scaleY(1);
}
.details .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.adminProfileBtn{
    margin-left: 3rem;
}
.adminCard{
    height:20em;
    margin: 10px;
}
@media only screen and (max-width:600px){
        .adminContainer{
            display: block;
            width: 100%;
        }
        .adminImg{
            width: 20rem;
            
        }
}

