.footerImgGallery img{
    width: 210px;
    height:120px;
    border-radius: 5px;
    margin: 5px;
   
    
}
.footerImgGallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.submitBtn{
    margin-left: 30px;
    padding:"5px 30px"
}
.footerContainer{
    display: flex;
    justify-content: center;
    
}
.footerWrapper,.footerFormWrap{
    display: flex ;
    
}
.footerDescription{
   
}
.footerIcons{
    font-size: 22px;
    color: white;
    margin-left: 8px;
}
.subscribeBtn:hover{
    color:white !important ;
}
@media only screen and (max-width:600px){
        .footerWrapper,.footerFormWrap{
            display: block;

        }
        .footerContainer{
            display: block;
        }
        .footerDescription{
            background-color: aqua;
            color: black;
            padding: 10px;
            border-radius: 10px;
        }
        .footerImgGallery{
            margin-top: 20px;
        }
        .subscribeWrapper{
            margin-top: 20px;
            border-top: 1px solid #fff;
        }
        .subscribeBtn{
           background: rgb(255, 188, 5);
           margin-top: -20px;
           margin-left: 20px;
           color: black !important;
           font-size: 18px;
           font-weight: large;
        }
        .submitBtn:hover{
            
        }
        
}