.sideBer, .sideContainer{
   box-shadow: 5px 5px 30px rgb(174, 207, 250);
    color: rgb(34, 33, 33);
    border-radius: 10px;
    font-family: tahoma;
    line-height: 1.5rem;
    color: #fff;
    background-color: #000;
    opacity: 9;
    
   
}
.sideBer h3{
    text-align: center;
}
.sideBer ul li {
    padding: 5px;
    transition: all 0.2s ease-in-out;
    list-style-type: number;
}
.sideBer ul li:hover {
        background-color: orangered;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        
}
.sideContainer{
  margin-left: 3rem;
}
.manageContainer{
    display:flex;
}
.selection{
    display: none;
}
@media only screen and (max-width: 600px) {
    .selection{
        display: block;
        
    }
    .manageContainer{
        display: block;
        margin-bottom: 2rem;
    }
    .sideBer{
        margin-bottom: 2rem;
        padding: 1rem;
    }
    .sideBer ul{
        display: none;
    }
    .sideContainer{
        justify-content: center;
        padding: 1rem;
    }
  }