.topContactArea{
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
    padding: 50px;
    text-align: center;
    margin-top: 5rem;
}

.ContactCardArea{
        width: 470px;
        height:500px;
        margin:"0 auto";
        border-radius: 10px;
        background: linear-gradient(45deg, #7b00e0,#ae31d9);
        position: relative;
        padding-bottom: 10px;
}

.ContactCardArea .wrapper img{
    position: relative;
    width: 265px;
    height: 265px;
    z-index: 200;
    border-radius: 50%;
    border: 5px solid #fff;
    object-fit: cover;
    margin: 20px auto;
    transform: translateY(-10rem);
    transition: all 0.3s ease-in-out;
}
.ContactCardArea:hover .wrapper img{
    transform: translateY(-10.5em);
}
.wrapper .title {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    padding:10px;
    font-family: cursive;
    margin-top: -9rem;
}
.wrapper .place {
    color: #fff;
    font-size: 17px;
    line-height: 0px;
    margin: 15px 0px;
    font-family: cursive;

}

.wrapper::before{
    content: "";
    top: -156px;
    left: 94px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    background-color: #2E3141;
    border-radius: 50%;
    width: 60%;
    border-top: none;
    height: 58%;
}
.content{
    font-size: 17px;
    margin-top: 20px;
    font-family: cursive;
    text-align: justify;
    padding: 10px;

}
 .buttons .btn {
    height: 50px;
    width: 150px;
    margin: 30px 5px;

}
 .buttons .btn  button{
    height: 100%;
    width: 100%;
    margin: 0px 5px;
    background-color: #fff;
    color: rgb(71, 71, 71);
    outline: none;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
    font-family: cursive;
}

.btn button:hover {
    transform: scale(0.95);
    background-color: orange;
    color: #fff;
}
.icons {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 0.3 ease-in-out;
}
.ContactCardArea .icons li {
    width: 40px;
    height:40px;
    z-index: 300;
    margin:5px;
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.ContactCardArea:hover .icons li {

    opacity: 1;
}
 .ContactCardArea:hover .icons li:nth-child(1){
    
     transition: all 0.2s ease;
 }
 .ContactCardArea:hover .icons li:nth-child(2){
     margin-top: 3.5rem;
     transition: all 0.3s ease;
 }
 .ContactCardArea:hover .icons li:nth-child(3){
     margin-top: 6.5rem;
     transition: all 0.4s ease;
 }
 .ContactCardArea:hover .icons li:nth-child(4){
     margin-top: 9.5rem;
     transition: all 0.5s ease;
 }
.ContactCardArea .icons li a {
    width: 100% !important;
    height: 100% !important;
    line-height: 40px;
    display: block;
    background:#fff;
    border-radius: 50%;
    color: #7b00e0;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
}
.ContactCardArea .icons li a:hover {
    transform: scale(0.90);
    background-color: orange;
}
