.underProfileCard{
    width: 70%!important;
   
}
.underProfileImg img {
    height: 123.5%;
    transform: translateY(-74px);
   
    
}
.underProfileImg{
    background-image: url("../Images/bgImg/departmentHead.gif");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.MuiCardMedia-root{
    width: 27rem !important;
}