
.profileImgCard{
    --bs-bg-opacity: 1;
    box-shadow: 6px 17px 28px #000000;
    border-radius: 10px 10px 10px 10px;
    z-index: 2;
    height: 20rem;
    background-image: url("../Images/bgImg/cooBgImg.gif");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -0.5rem;
}
.profileImgCard img{
    height: 133.5%;
    transform: translateY(-106px);
}

.profileCard img{
    width: 125%;
    height: 130%;
    transform: translateY(-26px) !important;
    background-image: url("../Images/bgImg/bgImg.gif");
}
.profileImgTitle{
    width: 45%;
    border-radius: 0px 10px 10px 0px;
    height: 288px;
    margin-top: 0.5rem;
    box-shadow: 11px 6px 15px #100c08;
    line-height: 20px;
    text-align: justify;

}




.profileCard{
    box-shadow: 6px 6px 12px #626161 !important;
    transition: all 0.3s  ease;
    overflow: inherit !important;
}

.profileCard:hover{
    box-shadow: 10px 10px 20px #363636 !important;
    max-width: 600px !important;
}

.cooProfileIconArea h2{
        color:#4c2377;
        transition: translate cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.cooProfileIconArea button:hover h2{
    color:#e29e0a;
}
.cooProfileIconArea button:hover{
        color:#3e037c;
        
}
