.underProfileCard{
    width: 70%!important;
   
}
.underProfileImg img {
    height: 123.5%;
    transform: translateY(-74px);
   
    
}
.qualityAndProdContainer{
    display: flex;
}
.underProfileImg{
    background-image: url("../Images/bgImg/departmentHead.gif");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.MuiCardMedia-root{
    width: 27rem !important;
}
@media only screen and (max-width:600px){
    .qualityAndProdContainer{
        display: block;
    }
    .underProfileCard{
        width: 100% !important;
        height: auto;
        border-radius: 10px;
    }
    .underProfileImg{
        width: 100% !important;
    }
}