
.profileImgCard{
    --bs-bg-opacity: 1;
   box-shadow:  6px 17px 28px #000000;
    border-radius: 10px;
    z-index: 2;
    height: 16rem;
    background-image: url("../Images/bgImg/cooBgImg.gif");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.profileImgCard img{
    height: 141.5%;
    transform: translateY(-106px);
}
.profileImgTitle{
    width: 40%;
    border-radius: 0px 10px 10px 0px;
    height: 237px;
    margin-top: 0.5rem;
    box-shadow: 11px 6px 15px #100c08; 
    line-height: 20px;
    text-align: justify;
   

}

.profileCardContainer{
    background: #244960;
    border-radius: 10px;
    border: none !important;
    height: 19rem !important;
    padding: 10px;
    box-shadow: 4px 14px 15px #7f80
}
.profileDescription{
    color: white;
}
/* .css-o69gx8-MuiCardMedia-root {
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-position: center;
    background-position: center;
    width: 30% !important;
    height: 100% !important;
    object-fit: cover;
} */

.profileCard{
    box-shadow: 6px 6px 12px #626161 !important;
}
.profileCard:hover{
    box-shadow: 10px 10px 20px #363636 !important;
    max-width: 565 !important;
}