.App{
  background: rgb(236, 151, 169);
  background: radial-gradient(circle, rgb(187 174 238) 0%, #0dcaf0 100%);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.mainContainer{
  max-width: 1800px;
}
li{
  list-style: none;
}

