.App{
  background-image: url("https://assets.website-files.com/602d060c40c93430b98bcc53/6039396776477b39c6099434_wavenet-v1.1-loop.gif");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  color: white ;
}
.mainContainer{
  max-width: 1800px;
}
li{
  list-style: none;
}

